<div class="bloc l-bloc bgc-white" id="bloc-4">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-10">
        <h3 class="mg-md blocs-mobile-signup-text">
          Enter your e-mail to get updates
        </h3>
      </div>
      <div class="col-sm-2">
        <div class="text-center">
          <a href="index.html" class="btn  btn-d  btn-lg">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</div>