<div class='bloc-group'>
  <div class="bloc l-bloc bgc-white bloc-tile-2" id="bloc-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="mg-lg bloc-group-text-vc">
            Analytics engines
          </h2>
          <h3 class="mg-sm">
            Using huge datasets to predict real estate trends.
          </h3>
          <p class="mg-lg">
            Never just guess where to buy an investment property or start a business. Our big data queries leverage the best private and public datasets combined with our proprietary algorithms to identify the next up and coming neighborhoods, the best block to start a new restaurant, or the best property to flip. 
          </p>
          <!-- <p class="mg-lg">
            Never just guess where to buy an investment property or start a business. Our big data queries leverage the best private and public datasets combined with our proprietary algorithms to identify the next up and coming neighborhoods.
          </p> --><!-- <a href="index.html" class="btn  btn-d  btn-lg">Watch Demo</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="bloc l-bloc bgc-white bloc-tile-2 full-width-bloc" id="bloc-6">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="img/heatmap.jpg" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>