<% console.log(result.bin) %>
<% if (result.bin == undefined){ %>
<div class="panel">
	<div class="panel-heading">
		<h3 class="mg-clear tc-dark-jungle-green">
			Complaints
		</h3>
	</div>
	<div class="panel-body">
		<h3 class="mg-md tc-dark-jungle-green" id="complaints">
			Complaints
		</h3>
	</div>
</div>
<% } %>