<!-- bloc-3 -->
<div class="bloc feature-list bgc-white l-bloc" id="bloc-3">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center mg-md ">
          What we do
        </h1>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-6">
        <div class="col-sm-3 col-md-3 col-sm-push-9">
          <div class="text-center">
            <span class="fa fa-heart icon-round icon-md"></span>
          </div>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
          <h3 class="text-right mg-md blocs-mob-center-text">
            Beautiful
          </h3>
          <p class="text-right blocs-mob-center-text">
            A little feature description could go here. A little feature description could go here.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-3">
          <div class="text-center">
            <span class="fa fa-rocket icon-round icon-md"></span>
          </div>
        </div>
        <div class="col-sm-9">
          <h3 class="mg-md blocs-mob-center-text">
            Responsive
          </h3>
          <p class="blocs-mob-center-text">
            A little feature description could go here.A little feature description could go here.
          </p>
        </div>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-6">
        <div class="col-sm-3 col-md-3 col-sm-push-9">
          <div class="text-center">
            <span class="fa fa-code icon-round icon-md"></span>
          </div>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
          <h3 class="text-right mg-md blocs-mob-center-text">
            Clean
          </h3>
          <p class="text-right blocs-mob-center-text">
            A little feature description could go here.A little feature description could go here.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-3">
          <div class="text-center">
            <span class="fa fa-tasks icon-round icon-md"></span>
          </div>
        </div>
        <div class="col-sm-9">
          <h3 class="mg-md blocs-mob-center-text">
            Optimized
          </h3>
          <p class="blocs-mob-center-text">
            A little feature description could go here.A little feature description could go here.
          </p>
        </div>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-6">
        <div class="col-sm-3 col-md-3 col-sm-push-9">
          <div class="text-center">
            <span class="fa fa-pencil icon-round icon-md"></span>
          </div>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
          <h3 class="text-right mg-md blocs-mob-center-text">
            Editable
          </h3>
          <p class="text-right blocs-mob-center-text">
            A little feature description could go here.A little feature description could go here.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-3">
          <div class="text-center">
            <span class="fa fa-star icon-round icon-md"></span>
          </div>
        </div>
        <div class="col-sm-9">
          <h3 class="mg-md blocs-mob-center-text">
            Friendly
          </h3>
          <p class="blocs-mob-center-text">
            A little feature description could go here.A little feature description could go here.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>