<!doctype html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    
<% include ../partials/nav.ejs %>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>About us</h3>
        <p>We're a big data analytics group focusing on the bustling New York City real estate market.</p>
      </div>
    </div>
  </div>
</div>

<%# include ../partials/explanation.ejs %>

<%# include ../partials/pricing.ejs %>

<%# include ../partials/lookup.ejs %>
<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<% include ../partials/footer.ejs %>

</div>
<!-- Main container END -->
    
<script type="text/javascript" src="library.js"></script>

</body>
</html>
