<!doctype html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
<div class="page-container">
    
<% include ../partials/nav.ejs %>

<div class="bloc b-parallax bg-city-overlay tc-gainsboro bgc-verdigris" id="landing">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-6">
        <img src="img/new%20york%20red@2x.png" class="img-responsive center-block" />
      </div>
      <div class="col-sm-6">
        <div style="font-size:100px;font-weight:500">Big City,<br /> Big Data</div>
        <div style="font-size:30px;font-weight:900"><br /><p>Run a report on any building in NYC</p></div>
        <div class="btn btn-warning btn-lg col-xs-12" style="background-color:#F7B733;margin-top:10px;border-radius:0px;" onclick="scrollToTarget('#resultsbloc')">Get started</div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/block.ejs %>

<%# include ../partials/explanation.ejs %>

<% include ../partials/pricing.ejs %>
<%# include ../partials/banner.ejs %>

<% include ../partials/lookup.ejs %>
 
<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

<% include ../partials/footer.ejs %>

</div>
    
<script type="text/javascript" src="library.js"></script>

</body>
</html>
